# Linear Regression Example

1) Load the dataset 'OmniPower.csv'
2) Create a Linear Regression Model with two independent variables (Price and Promotion), one dependent variable (Sale)
3) Provide input values and predict the Sale
4) What is the R square value?

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# --1--
df = pd.read_csv('D:\SA-NUS\Python\Python ML 1 (Yuen Kwan)\Codes (ML)\Workshop\OmniPower.csv')
df

    Sales  Price  Promotion
0    4141     59        200
1    3842     59        200
2    3056     59        200
3    3519     59        200
4    4226     59        400
5    4630     59        400
6    3507     59        400
7    3754     59        400
8    5000     59        600
9    5120     59        600
10   4011     59        600
11   5015     59        600
12   1916     79        200
13    675     79        200
14   3636     79        200
15   3224     79        200
16   2295     79        400
17   2730     79        400
18   2618     79        400
19   4421     79        400
20   4113     79        600
21   3746     79        600
22   3532     79        600
23   3825     79        600
24   1096     99        200
25    761     99        200
26   2088     99        200
27    820     99        200
28   2114     99        400
29   1882     99        400
30   2159     99        400
31   1602     99        400
32   3354     99        600
33   2927     99        600

In [5]:
# --2--
from sklearn import linear_model
from sklearn.model_selection import train_test_split

advert = df[['Price','Promotion']]
sales = df.Sales

x_train, x_test, y_train, y_test = train_test_split(advert,sales, random_state = 1)

print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

from sklearn.linear_model import LinearRegression
linReg = LinearRegression()
linReg.fit(x_train, y_train)
print(linReg.intercept_)
print(linReg.coef_)

5888.227503974564
[-56.33688394   3.73521463]
(25, 2)
(9, 2)
(25,)
(9,)

In [11]:
# --3--
y_hat = linReg.predict(x_test)
print(x_test)
print(y_test)
print(y_hat)

ypredictions = linReg([[50,200]])

    Price  Promotion
14     79        200
19     79        400
3      59        200
27     99        200
32     99        600
26     99        200
20     79        600
25     99        200
24     99        200
14    3636
19    4421
3     3519
27     820
32    3354
26    2088
20    4113
25     761
24    1096
Name: Sales, dtype: int64
[2184.65659777 2931.69952305 3311.39427663 1057.91891892 2552.00476948
 1057.91891892 3678.74244833 1057.91891892 1057.91891892]

In [12]:
# --4--
from sklearn.metrics import mean_squared_error,r2_score
print(mean_squared_error(y_test,y_hat))
print(r2_score(y_test,y_hat))

711841.4608768487
0.6263859021937317