# Exercise 3 Pandas

1) Import pandas package

In [13]:
import pandas as pd

2) Load Produdcts.csv to a dataframe

In [14]:
Location = "D:\SA-NUS\Python\Python ML 1 (Yuen Kwan)\Workshop\products.csv"
df = pd.read_csv(Location,skiprows = 1,header=None)
df

,0,1,2,3,4,5,6,7,8,9
0,1,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,0
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
72,73,Röd Kaviar,17,8,24 - 150 g jars,15.00,101,0,5,0
73,74,Longlife Tofu,4,7,5 kg pkg.,10.00,4,20,5,0
74,75,Rhönbräu Klosterbier,12,1,24 - 0.5 l bottles,7.75,125,0,25,0
75,76,Lakkalikööri,23,1,500 ml,18.00,57,0,20,0
76,77,Original Frankfurter grüne Soße,12,2,12 boxes,13.00,32,0,15,0

3) Display first 5 rows

In [15]:
df.head()

,0,1,2,3,4,5,6,7,8,9
0,1,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,0
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1

4) Display last 5 rows

In [16]:
df.tail()

,0,1,2,3,4,5,6,7,8,9
72,73,Röd Kaviar,17,8,24 - 150 g jars,15.00,101,0,5,0
73,74,Longlife Tofu,4,7,5 kg pkg.,10.00,4,20,5,0
74,75,Rhönbräu Klosterbier,12,1,24 - 0.5 l bottles,7.75,125,0,25,0
75,76,Lakkalikööri,23,1,500 ml,18.00,57,0,20,0
76,77,Original Frankfurter grüne Soße,12,2,12 boxes,13.00,32,0,15,0

5) Retrieve maximun unit price of the table

In [20]:
df = pd.read_csv(Location,skiprows = 1,names = ['ProductID','ProductName','SupplierID','CategoryID','QuantityPerUnit',
                                                'UnitPrice','UnitInStock','UnitsOnOrder','ReorderLevel','Discontinued'])
max_value = df.UnitPrice.max()
print(max_value)

# max_value = df.UnitPrice.max()
# print(max_value)
# df["ProductName"] [df.UnitPrice== max_value]

263.5

6) Count the number of rows in the dataframe

In [21]:
print(df.count())

ProductID          77
ProductName        77
SupplierID         77
CategoryID         77
QuantityPerUnit    77
UnitPrice          77
UnitInStock        77
UnitsOnOrder       77
ReorderLevel       77
Discontinued       77
dtype: int64

7) Display average unit price (hint: method:- mean())

In [22]:
df.UnitPrice.mean()

28.866363636363637

8) Display the types of the columns

In [23]:
df.dtypes

ProductID            int64
ProductName         object
SupplierID           int64
CategoryID           int64
QuantityPerUnit     object
UnitPrice          float64
UnitInStock          int64
UnitsOnOrder         int64
ReorderLevel         int64
Discontinued         int64
dtype: object

9) Display all columns for the 5th row (row 4)

In [43]:
df.iloc[4,:]

ProductID                               5
ProductName        Chef Anton's Gumbo Mix
SupplierID                              2
CategoryID                              2
QuantityPerUnit                  36 boxes
UnitPrice                           21.35
UnitInStock                             0
UnitsOnOrder                            0
ReorderLevel                            0
Discontinued                            1
Name: 4, dtype: object

10) Display columns 3 to 5 for the row 9

In [60]:
df.iloc[9,3:6]

CategoryID                        8
QuantityPerUnit    12 - 200 ml jars
UnitPrice                        31
Name: 9, dtype: object

11) Display row 3 to 5, columns from ProductName to UnitPrice

In [62]:
df.loc[3:5,'ProductName': 'UnitPrice']

,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice
3,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00
4,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35
5,Grandma's Boysenberry Spread,3,2,12 - 8 oz jars,25.00

12) Display number of items (rows) for each category

In [57]:
cat_grp = df.groupby('CategoryID')
cat_grp.count()
#df.groupby(['CategoryID']).size().reset_index(name='counts')

   CategoryID  counts
0           1      12
1           2      12
2           3      13
3           4      10
4           5       7
5           6       6
6           7       5
7           8      12