# Data Engineering Exercise

Refer to the your previous K-NN Classification workship using iris-data-clean.csv.  Modify the solution to load data from iris-data.csv.  

Note that the file contains some empty values in certain rows.  Does it affect how you train your machine learning model?  If yes, what action could you perform without switching to iris-data-clean.csv?

In [1]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt

In [5]:
iris = pd.read_csv('iris-data.csv')
iris

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class
0,5.1,3.5,1.4,0.2,Setosa
1,4.9,3.0,1.4,0.2,Setosa
2,4.7,3.2,1.3,0.2,Setosa
3,4.6,3.1,1.5,0.2,Setosa
4,5.0,3.6,1.4,0.2,Setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Virginica
146,6.3,2.5,5.0,1.9,Virginica
147,6.5,3.0,5.2,2.0,Virginica
148,6.2,3.4,5.4,2.3,Virginica
149,5.9,3.0,5.1,1.8,Virginica

In [10]:
# 统计数据中缺失值的总数
print(np.count_nonzero(iris.isnull()))

print(iris.shape)
iris_clean = iris.dropna() # delete rows with any empty values
print(iris_clean.shape)

5
(150, 5)
(145, 5)